$primary: #FF6D70;
$secondary: #ED494C;
$white: #FFFFFF;
$black: #000000;

@mixin gameSize($w, $h, $fz, $sw, $sh, $sfz) {
  width: $w;
  height: $h;
  font-size: $fz;

  @media (max-width:540px) {
    width: $sw;
    height: $sh;
    font-size: $sfz;
  }
}

@mixin size ($w, $h, $sw, $sh) {
  width: $w;
  height: $h;

  @media (max-width:540px) {
    width: $sw;
    height: $sh;
  }
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-center-rotate($r) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate($r);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin crosses-rotate {
  &::before {
    @include position-center-rotate(45deg);
  }

  &::after {
    @include position-center-rotate(315deg);
  }
}

@mixin btn-color($bg, $c) {
  background: $bg;

  a {
    color: $c;
    width: 100%;
    font-weight: bold;

    @media (max-width:540px) {
      font-size: 24px;
    }
  }

  &:hover {
    background-color: $c;

    a {
      color: $bg;
    }
  }
}

@mixin noughts-solid($ls, $lb, $ss, $sb, $color) {
  position: relative;

  &::before {
    content: '';
    @include size($ls, $ls);
    @include position-center;
    border-radius: 50%;
    border: $lb solid $color;

    @media (max-width:540px) {
      @include size($ss, $ss);
      border-width: $sb;
    }
  }
}

@mixin crosses-solid ($w, $h, $sw, $sh, $color) {
  position: relative;

  &::before,
  &::after {
    content: '';
    @include size($h, $w);
    background: $color;

    @media (max-width:540px) {
      @include size($sw, $sh);
    }
  }

  @include crosses-rotate;
}

@mixin scores ($bg, $t, $l, $b, $r) {
  @include size (54px, 100%);
  background: $bg;
  border-radius: $t $l $b $r;
}