@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import './sass/_reset';
@import './sass/_variable';
@import './sass/_index';
@import './sass/_home';
@import './sass/_score';
@import './sass/_game';
@import './sass/winner';