@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 18px 0 14px;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 48px;
}

.container {
  width: 540px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.home {
  color: #FFFFFF;
}

.home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home ul li {
  width: 180px;
  height: 180px;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 540px) {
  .home ul li {
    width: 100px;
    height: 100px;
    font-size: 55px;
  }
}

.home ul li div {
  width: 100%;
  height: 100%;
}

@media (max-width: 540px) {
  .home ul li div {
    width: 100%;
    height: 100%;
  }
}

.home ul .noughts-solid {
  position: relative;
}

.home ul .noughts-solid::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 10px solid #FF6D70;
}

@media (max-width: 540px) {
  .home ul .noughts-solid::before {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 540px) {
  .home ul .noughts-solid::before {
    border-width: 6px;
  }
}

.home ul .noughts-border {
  position: relative;
}

.home ul .noughts-border::before, .home ul .noughts-border::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 4px solid #FF6D70;
}

@media (max-width: 540px) {
  .home ul .noughts-border::before, .home ul .noughts-border::after {
    border-width: 2px;
  }
}

.home ul .noughts-border::before {
  width: 100px;
  height: 100px;
}

@media (max-width: 540px) {
  .home ul .noughts-border::before {
    width: 60px;
    height: 60px;
  }
}

.home ul .noughts-border::after {
  width: 70px;
  height: 70px;
}

@media (max-width: 540px) {
  .home ul .noughts-border::after {
    width: 40px;
    height: 40px;
  }
}

.home ul .crosses-solid {
  position: relative;
}

.home ul .crosses-solid::before, .home ul .crosses-solid::after {
  content: '';
  width: 10px;
  height: 120px;
  background: #FF6D70;
}

@media (max-width: 540px) {
  .home ul .crosses-solid::before, .home ul .crosses-solid::after {
    width: 60px;
    height: 5px;
  }
}

.home ul .crosses-solid::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.home ul .crosses-solid::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
          transform: translate(-50%, -50%) rotate(315deg);
}

.home ul .crosses-border {
  position: relative;
}

.home ul .crosses-border::before, .home ul .crosses-border::after {
  content: '';
  width: 120px;
  height: 14px;
  background: #FFFFFF;
}

@media (max-width: 540px) {
  .home ul .crosses-border::before, .home ul .crosses-border::after {
    width: 60px;
    height: 10px;
  }
}

.home ul .crosses-border::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.home ul .crosses-border::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
          transform: translate(-50%, -50%) rotate(315deg);
}

.home ul .crosses-border div::before, .home ul .crosses-border div::after {
  content: '';
  width: 116px;
  height: 10px;
  background: #000000;
  z-index: 1;
}

@media (max-width: 540px) {
  .home ul .crosses-border div::before, .home ul .crosses-border div::after {
    width: 55px;
    height: 5px;
  }
}

.home ul .crosses-border div::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.home ul .crosses-border div::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
          transform: translate(-50%, -50%) rotate(315deg);
}

.home button {
  background: #FFFFFF;
}

.home button a {
  color: #FF6D70;
  width: 100%;
  font-weight: bold;
}

@media (max-width: 540px) {
  .home button a {
    font-size: 24px;
  }
}

.home button:hover {
  background-color: #FF6D70;
}

.home button:hover a {
  color: #FFFFFF;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

header .your-turn {
  font-size: 20px;
  color: #FFFFFF;
}

@media (max-width: 540px) {
  header .your-turn {
    font-size: 14px;
  }
}

header .scores-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 8px;
}

header .vs {
  width: 70px;
  height: 71px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px 8px 0px 0px;
  background: #000000;
  color: #FFFFFF;
}

@media (max-width: 540px) {
  header .vs {
    width: 40px;
    height: 51px;
    font-size: 20px;
  }
}

header .scores {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 235px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 4px solid #000000;
  z-index: 1;
}

@media (max-width: 540px) {
  header .scores {
    width: 130px;
    height: 44px;
  }
}

header .scores:first-child {
  border-radius: 8px 0px 0px 8px;
}

header .scores:last-child {
  border-radius: 0px 8px 8px 0px;
}

header .scores .scores-item {
  width: 171px;
  height: 100%;
  font-size: 48px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 540px) {
  header .scores .scores-item {
    width: 94px;
    height: 100%;
    font-size: 24px;
  }
}

header .scores .crosses-scores {
  width: 54px;
  height: 100%;
  background: #ED494C;
  border-radius: 4px 0px 0px 4px;
  position: relative;
  border-right: 4px solid #000000;
}

@media (max-width: 540px) {
  header .scores .crosses-scores {
    width: 54px;
    height: 100%;
  }
}

header .scores .crosses-scores::before, header .scores .crosses-scores::after {
  content: '';
  width: 5px;
  height: 36px;
  background: #FFFFFF;
}

@media (max-width: 540px) {
  header .scores .crosses-scores::before, header .scores .crosses-scores::after {
    width: 24px;
    height: 3px;
  }
}

header .scores .crosses-scores::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

header .scores .crosses-scores::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
          transform: translate(-50%, -50%) rotate(315deg);
}

header .scores .noughts-scores {
  width: 54px;
  height: 100%;
  background: #000000;
  border-radius: 0px 4px 4px 0px;
  position: relative;
  border-left: 4px solid #000000;
}

@media (max-width: 540px) {
  header .scores .noughts-scores {
    width: 54px;
    height: 100%;
  }
}

header .scores .noughts-scores::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #FFFFFF;
}

@media (max-width: 540px) {
  header .scores .noughts-scores::before {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 540px) {
  header .scores .noughts-scores::before {
    border-width: 3px;
  }
}

.game ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 56.5px;
  margin-bottom: 23.5px;
}

.game ul li {
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 540px) {
  .game ul li {
    width: 100px;
    height: 100px;
  }
}

.game ul li:nth-child(1) {
  border-right: 5px solid #ED494C;
  border-bottom: 5px solid #ED494C;
}

.game ul li:nth-child(2) {
  border-right: 5px solid #ED494C;
  border-bottom: 5px solid #ED494C;
  border-left: 5px solid #ED494C;
}

.game ul li:nth-child(3) {
  border-bottom: 5px solid #ED494C;
  border-left: 5px solid #ED494C;
}

.game ul li:nth-child(4) {
  border-top: 5px solid #ED494C;
  border-right: 5px solid #ED494C;
  border-bottom: 5px solid #ED494C;
}

.game ul li:nth-child(5) {
  border: 5px solid #ED494C;
}

.game ul li:nth-child(6) {
  border-top: 5px solid #ED494C;
  border-bottom: 5px solid #ED494C;
  border-left: 5px solid #ED494C;
}

.game ul li:nth-child(7) {
  border-top: 5px solid #ED494C;
  border-right: 5px solid #ED494C;
}

.game ul li:nth-child(8) {
  border-top: 5px solid #ED494C;
  border-right: 5px solid #ED494C;
  border-left: 5px solid #ED494C;
}

.game ul li:nth-child(9) {
  border-top: 5px solid #ED494C;
  border-left: 5px solid #ED494C;
}

.game button {
  background: #ED494C;
}

.game button a {
  color: #FFFFFF;
  width: 100%;
  font-weight: bold;
}

@media (max-width: 540px) {
  .game button a {
    font-size: 24px;
  }
}

.game button:hover {
  background-color: #FFFFFF;
}

.game button:hover a {
  color: #ED494C;
}

.winner main {
  width: 540px;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 540px) {
  .winner main {
    width: 300px;
    height: 300px;
  }
}

.winner main::before, .winner main::after {
  content: '';
  width: 40px;
  height: 480px;
  background: #ED494C;
}

@media (max-width: 540px) {
  .winner main::before, .winner main::after {
    width: 240px;
    height: 20px;
  }
}

.winner main::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.winner main::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
          transform: translate(-50%, -50%) rotate(315deg);
}

.winner main h1 {
  font-size: 154px;
  font-style: italic;
  font-weight: bold;
  -webkit-text-stroke: 3px #FFFFFF;
  -webkit-text-fill-color: #FF6D70;
  z-index: 2;
}

@media (max-width: 540px) {
  .winner main h1 {
    font-size: 77px;
  }
}

.winner button {
  background: #ED494C;
}

.winner button a {
  color: #FFFFFF;
  width: 100%;
  font-weight: bold;
}

@media (max-width: 540px) {
  .winner button a {
    font-size: 24px;
  }
}

.winner button:hover {
  background-color: #FFFFFF;
}

.winner button:hover a {
  color: #ED494C;
}
/*# sourceMappingURL=all.css.map */